* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: #525050;
}
/* style for heading */
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1px;
    font-size: 2rem;
    text-shadow: 0px 0px 8px white;
}
/* container box for display*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
/* style for watch display */
.Watch-display{
    margin-top: 3%;
    background: #5F6494;
    height: 50vh;
    width:50%;
    min-height: 50vh;
    max-width: 800px;
    border: 2px solid white;
    border-radius: 20%;
    box-shadow: 0px 0px 8px white;
}

/* style for timer digit */
.timer{
    margin-top: 15%;
    text-align: center;
    font-size: 2.9rem;
    color: white;
}

/* style for button container */
.btn-display{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
    align-items: center;
}
/* style for start button  */
.start-btn {
    background-color: #8FF299;
    color: black;
    border: 3px solid white;
   
    padding: 1rem 1.8rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
}


.start-btn:hover {
    background-color: #6bb373;
    color: white;
    box-shadow: 0px 0px 8px white;
    border-color: #8FF299;
}
/* style for pause button  */
.pause-btn{
    background-color: #8fe6f2;
    color: black;
    border: 3px solid white;
    border-radius: 10px;
    padding: 1rem 1.8rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center; 
   
    font-family: 'Londrina Solid', cursive;
}

.pause-btn:hover{
    background-color: #65a5ad;
    color: white;
    box-shadow: 0px 0px 8px white;
    border-color: #8fe6f2;
}
/* style for reset button  */
.reset-btn{
    background-color: #e78b8b;
    color: black;
    border: 3px solid white;
    border-radius: 10px;
    padding: 1rem 1.8rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0px 0px 8px white;
    font-family: 'Londrina Solid', cursive;
}

.reset-btn:hover{
    background-color: #995c5c;
    color: white;
    box-shadow: 0px 0px 8px white;
    border-color:#e78b8b;
}



/* Media query for different screen size */
@media (max-width: 1024px) {
    .containerCronometro {
        width: 90%; 
    }

    .tempoCronometro {
        font-size: 1.5rem; 
    }
}


@media (max-width: 768px) {
    .containerCronometro {
        width: 95%; 
        height: 40vh; 
    }

    .tempoCronometro {
        margin-top: 28%;
        font-size: 2rem; 
    }

    .start-btn,
    .pause-btn,
    .stop-btn {
        padding: 0.7rem 1.1rem;
        font-size: 1.5rem; 
    }
}